
body {
    background-color: rgb(6,6,6);
    padding: 0;
    margin: 0;
    height: 100%;
    overflow-y: hidden;
    max-width: 100%;
   	overflow-x: hidden;
}

html {
  cursor: url('../others/cursor.png'), default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}
a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
.badge {
  position: fixed;
  bottom: -5px;
  right: 0;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #070706;
  color: #242526;
  text-align: center;
}
.row-centered {
    text-align: center;
}
body {
    background-color: rgb(6,6,6);
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: "Segoe UI", "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
    text-align: center;
    color: white;
}

h2{
    margin: 100px 0 0 0;
    font-size: 26px;
}
.description{
    font-size: 17px;
}
input[type=text]{
    background-color: rgb(44, 44, 44);
    padding: 5px 8px;
    font-size: 16px;
    border: solid 1px rgb(133, 133, 133);
    border-radius: 3px;
    color: white;
    width: 250px;
}
input[type=number]{
    background-color: rgb(44, 44, 44);
    padding: 5px 8px;
    font-size: 16px;
    border: solid 1px rgb(133, 133, 133);
    border-radius: 3px;
    color: white;
    width: 40px;
}

input[type=text]:focus{
    outline: none;
}
input[type=submit]{
    padding: 5px 8px;
    font-size: 16px;
    border: solid 1px rgb(133, 133, 133);
    background-color: rgb(61, 61, 61);
    border-radius: 3px;
    color: white;
}
div.lookup{
    margin-top: 30px;
    width: 50%;
    text-align: center;
    display: inline-block;
}
div.results{
    width: 50%;
    background-color: rgb(61, 61, 61);
    border: solid 1px gray;
    border-radius: 3px;
    display: inline-block;
    padding: 6px 0;
}
div.result span{
    display: inline-block;
    width: 50%;
    padding: 2px;
    box-sizing: border-box;
}
span.left{
    font-weight: bold;
}
h4{
    margin: 30px 0 0 0;
    font-size: 20px;
}
@media only screen and (max-width: 1000px) {
    div.lookup{
        width: 100%;
    }
    div.results{
        width: 100%;
    }
}

.col-centered {
    float: none;
    margin: 0 auto;
}

form {
    padding: 0;
    margin: 0;
}

.imglinks img {
    filter: grayscale(1) contrast(200%);
    -webkit-transition: filter 0.5s, padding 0.2s; /* Safari */
    transition: filter 0.5s, padding 0.2s;
    -webkit-box-shadow: 3px -1px 25px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px -1px 25px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 3px -1px 25px -7px rgba(0, 0, 0, 0.75);
    border: 1px solid white;
    padding: 5px;
    background:rgb(0,0,0);

}

.imglinks img:hover {
    filter: grayscale(0.5);
    padding:0;
}


.shadow {
    -webkit-box-shadow: 3px -1px 25px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px -1px 25px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 3px -1px 25px -7px rgba(0, 0, 0, 0.75);
}

.sidebar {
    display: none;
}

.news {
    overflow-y: scroll;
}

.sidebar small {
    color: #b5b5b5;
    font-weight: bold;
    margin-left: 20px;
}

.sidebar h1 {
    font-size: 140%;
}

.sidebar h1, .sidebar p, .sidebar small {
    font-family: monospace !important;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75), 0px 0px 5px rgba(0, 0, 0, 0.75);
}

@media only screen and (min-width: 1300px) and (min-height: 600px) {
    .sidebar {
        position: fixed !important;
        right: 0;
        display: inline;
        background: rgba(240, 240, 240, 0.1);
        margin: 10%;
        margin-right: 20px;
        height: -webkit-calc(60% - 80px);
        height: -moz-calc(60% - 80px);
        height: calc(60% - 80px);
        bottom: 100px;
        width: 300px;
        overflow-x: hidden;
    }
}



.seppukubg {
    height: 100%;
    background: linear-gradient(
            rgba(30, 30, 30, 0.5),
            rgba(10, 10, 10, 0.6),
            rgba(10, 10, 10, 1)
    ), rgb(10, 10, 10);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.seppukubg nav {
    background: transparent;
    border: 1px solid transparent;
}

.seppukucontainer {
    background-color: rgb(20, 10, 10) !important;
}

.cw {
    height: 100%;
    min-height: 100%;
}

#p {
    position: fixed;
    z-index: 0;
    width: 100%;
    height: 100%;
}

h1, h2, h3, h4 {
    color: rgb(240, 240, 240);
}

ascii {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0;
    padding-left: 60px;
}

@media screen and (max-width: 1080px) {
    ascii {
        display: block;
        font-family: monospace;
        white-space: pre;
        margin: 1em 0;
        font-size: 50%;
    }

}

.sub {
    font-size: 80%;
}

.link:before {
    content: "[ ";
}

.link:after {
    content: " ]";
}

.hanginggirl {
    margin-top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden !important;
    max-height: 400px;
    filter: grayscale(1) contrast(200%);
}

.spoiler {
    background-color: white;
    color: white;
}

.spoiler:hover {
    background-color: black;
}

p, span {
    color: white;
    font-family: monospace;
}

.nodrag {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.link, .link:visited {

    color: white;
    text-transform: uppercase;
    font-family: monospace;
    white-space: pre;
    margin-left: 5px;
    margin-right: 5px;
    outline: none;
}

.link:hover {
    color: #f4ab21;
    text-decoration: none;
    text-underline: none;
}

.nomar {
    margin: 0px !important;
}

p {
    font-smooth: never;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: unset;
}

.ct {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;
    z-index: 10;
    -webkit-transition: transform 0.3s;
    transition: transform 0.3s;
    transform: scale(0.8);

}

img.ct:hover {
    transform: scale(1);
    cursor: pointer;
}



.nojs {
    font-family: monospace;
    color: #ffbb80;
}

.white {
    color: white;
}

.mid {
    text-align: center;
}

.tt {
    color: whitesmoke;
    font-family: monospace;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -75px;
    margin-left: 20px;
    font-size: 24px;
    letter-spacing: -12px;
    z-index: 10;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF;
}

.message .vaporwave {
    color: rgb(28, 179, 169) !important;
    text-shadow: 1px 1px 0 rgba(237, 50, 255, 1);
    text-transform: full-width;
    letter-spacing: 7px;
}

#topic {
    color: #000;
    font-weight: bold;
}

.split {
    border-top: 1px solid #c8c8c8;
    width: 100%;
}

#mainpage .navbar {
    z-index: 20;
    margin-bottom: 0;
}

.vaporwave h1 {
    color: rgba(23, 255, 252, 1);
    text-shadow: 3px 3px 0 rgba(237, 50, 255, 1);
    text-transform: full-width;
}

.vaporwave p, span.vaporwave, a.vaporwave {
    color: rgba(23, 255, 252, 1) !important;
    text-shadow: 2px 2px 0 rgba(237, 50, 255, 1);
    text-transform: full-width;

}

.vaporwave .long {
    letter-spacing: 7px;
}

.yt {
    width: 100%;
    display: inline-flex;
    height: 100%;
}
/*
     FILE ARCHIVED ON 06:11:34 Jun 28, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 23:32:52 Dec 03, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 263.656
  exclusion.robots: 0.081
  exclusion.robots.policy: 0.075
  RedisCDXSource: 8.388
  esindex: 0.007
  LoadShardBlock: 233.691 (3)
  PetaboxLoader3.datanode: 625.656 (4)
  CDXLines.iter: 18.827 (3)
  load_resource: 578.48
  PetaboxLoader3.resolve: 61.359
*/